@-webkit-keyframes rotate-left { from { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  to { -webkit-transform: rotate(0); transform: rotate(0); } }

@keyframes rotate-left { from { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  to { -webkit-transform: rotate(0); transform: rotate(0); } }

@-webkit-keyframes rotate-right { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rotate-right { from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes rotate-left-right { 0% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  30% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); }
  50% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes rotate-left-right { 0% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  30% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); }
  50% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }
